html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
  }
  
body {
    background-color: rgb(0, 0, 57);
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 57);
    color: white;
}

.header-logo {
    font-size: 25px;
}

.top {
    display: flex;
    margin-bottom: 70px;
}

.top-links a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.top-left {
    display: flex;
    flex-direction: column;
    color: rgb(195, 195, 195);
    align-items: flex-start;
    flex: 2 1 0;
    margin-right: 250px;
}

.top-left button {
    margin: auto;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 105, 175);
    color: lightgreen;
    border-radius: 5px;
    border-color: lightgreen;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3 1 0;
}

.top-right-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.footer {
    display: flex;
    justify-content: center;
}

.top-mid {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.top-mid img {
    border: 2px solid rgb(0, 0, 57);
    border-radius: 5px;
}

.mid-imgs {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    margin: 35px;
    align-items: center;
    text-align: center;
}

.mid-img {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    max-width: 150px;
}

.top-mid h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.bottom-mid {
    padding: 30px;
    display: flex;
    text-align: start;
    justify-content: space-between;
    background-color: rgb(161, 161, 161);
    padding-bottom: 10px;
}

.bottom-mid p {
    display: flex;
    flex: 1 1 0;
    font-size: 25px;
}
.signature {
    display: flex;
    justify-content: flex-end;
    color: lightgreen;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 55px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

button {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 105, 175);
    color: white;
    border-radius: 5px;
    border-color: lightgreen;
}

.cta {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 105, 175);
    border-radius: 5px;
    padding: 15px;
}

.text {
    text-align: center;
    color: white;
    margin-left: 25px;
}

.bottom button {
    font-size: 30px;
    color: lightgreen;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 80px;
    margin-right: 10px;
}